[user]
	name = Dennis Wegner
	email = dennis@somedomain.tld

[core]
    editor = vim -f
    pager = cat


[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias] 
    st = status
    ci = commit
    co = checkout
    w = whatchanged
    br = branch
