[user]
	name = Dennis Wegner
	email = dennis@instant-thinking.de

[core]
    editor = /usr/bin/vim -f
    pager = cat


[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias] 
    st = status
    ci = commit
    co = checkout
    w = whatchanged
    br = branch
    hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s' --graph
    histfull = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s%n' --graph --name-status
    type = cat-file -t
    dump = cat-file -p
    d = difftool
    track = !sh -c 'git branch --track "$0" "$1" && git checkout "$0"'
    ignored = "!git ls-files --others --exclude-standard"

[diff]
	tool = vimdiff

[difftool]
	prompt = false
