[user]
	name = Dennis Wegner
	email = dennis@instant-thinking.de

[core]
    editor = vim -f
    pager = cat


[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias] 
    st = status
    ci = commit
    co = checkout
    w = whatchanged
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
