*.swp
*.pyc
.netrwhist
mutt/.mutt/cache/*
bin/it_scripts/pinboard_integration/bookmarks.yaml
bin/it_scripts/pinboard_integration/dates.yaml
bin/it_scripts/pinboard_integration/pinboard_time.yaml
bin/it_scripts/pinboard_integration/tags.yaml
bin/it_scripts/pinboard_integration/config.yml
imapfilter/.imapfilter/config.lua
